a.project-container {
    display: flex;
    width: 100%;
    border-radius: 10px;
    background: #1D1D1D;
    overflow: hidden;
    text-decoration: none;
}

a.project-container img {
    height: 55px;
}

a.project-container .project__text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 14px;
    width: 100%;
}