.user-profile-container__left .user-profile-container__left__user-image {
    position: absolute;
    margin-top: -15px;
    transform: translateY(-50%);
}

.user-profile-container__left .user-profile-container__left__content {
    margin-top: 65px;
}

.user-profile-container .user-info-container {
    margin-bottom: 20px;
}
.user-profile-container .user-info-container > *:not(:first-child) {
    margin-top: 8px;
}
.user-profile-container .user-info-container .user-info__item {
    display: flex;
    align-items: center;
}
.user-profile-container .user-info-container .user-info__item > *:not(:first-child) {
    margin-left: 10px;
}

.user-profile-container .user-info-container .user-info__item .user-info__item__icon {
    width: 20px;
    display: flex;
    justify-content: center;
}