.home-container {
    background: #242424;
    min-height: 100vh;
}

.home-container .home-container__content {
    max-width: 950px;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.home-container .home-container__content .home-container__content__bottom {
    display: flex;
    align-items: center;
    margin: 20px auto;
    padding-top: 45px;
}

.home-container .home-container__content .home-container__content__bottom .logo-container {
    margin-left: 10px;
}